---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 30 Jul 2019 18:57:49 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&content_type=1&format=json&lat=39.7392358&lon=-104.990251&method=flickr.photos.search&nojsoncallback=1&per_page=10&safe_search=1&sort=interestingness-desc&tags=downtown,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":537,"perpage":10,"total":"5364","photo":[{"id":"47949098166","owner":"74216903@N00","secret":"30b8d34160","server":"65535","farm":66,"title":"Denver","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32691897517","owner":"11143435@N06","secret":"142cb38fcf","server":"65535","farm":66,"title":"Skyline","ispublic":1,"isfriend":0,"isfamily":0},{"id":"40433538333","owner":"20286982@N07","secret":"bb203ba130","server":"7910","farm":8,"title":"City
        Park Pavilion","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46649685564","owner":"20816374@N04","secret":"e5a0d3b81e","server":"7856","farm":8,"title":"IMGP8782-Pano-Edit","ispublic":1,"isfriend":0,"isfamily":0},{"id":"39910698973","[...]
