---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&content_type=1&format=json&lat=39.7392358&lon=-104.990251&method=flickr.photos.search&nojsoncallback=1&per_page=10&safe_search=1&sort=interestingness-desc&tags=downtown,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":537,"perpage":10,"total":"5364","photo":[{"id":"47949098166","owner":"74216903@N00","secret":"30b8d34160","server":"65535","farm":66,"title":"Denver","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32691897517","owner":"11143435@N06","secret":"142cb38fcf","server":"65535","farm":66,"title":"Skyline","ispublic":1,"isfriend":0,"isfamily":0},{"id":"40433538333","owner":"20286982@N07","secret":"bb203ba130","server":"7910","farm":8,"title":"City
        Park Pavilion","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46649685564","owner":"20816374@N04","secret":"e5a0d3b81e","server":"7856","farm":8,"title":"IMGP8782-Pano-Edit","ispublic":1,"isfriend":0,"isfamily":0},{"id":"39910698973","[...]
